@media (min-height: 1000px) {
    .lineContainer {
        height: 800px !important;
    }
}

@media (max-height: 1000px) and (min-height: 900px) {
    .lineContainer {
        height: 720px !important;
    }
    
}

@media (max-height: 900px) and (min-height: 800px) {
    .lineContainer {
        height: 620px !important;
    }

}

@media (max-height: 820px) and (min-height: 770px) {
    .lineContainer {
        height: 570px !important;
    }
    
}

@media (max-height: 770px) and (min-height: 700px) {
    .lineContainer {
        height: 510px !important;
    }
}

@media (max-height: 700px) and (min-height: 610px) {
    .lineContainer {
        height: 410px !important;
    }
}

@media (max-height: 610px) and (min-height: 500px) {
    .lineContainer {
        height: 310px !important;
    }
}