

@media  (min-height: 1000px) {
    .stepper-page {
        height: 710px !important;
    }
}

@media (max-height: 1000px) and (min-height: 900px) {
    .stepper-page {
        height: 610px !important;
    }
}

@media (max-height: 900px) and (min-height: 800px) {
    .stepper-page {
        height: 500px !important;
    }
}

@media (max-height: 800px) and (min-height: 760px) {
    .stepper-page {
        height: 450px !important;
    }
}

@media (max-height: 760px) and (min-height: 680px) {
    .stepper-page {
        height: 380px !important;
    }
}

@media (max-height: 680px) and (min-height: 580px) {
    .stepper-page {
        height: 280px !important;
    }
}

@media (max-height: 580px) and (min-height: 480px) {
    .stepper-page {
        height: 180px !important;
    }
}
